[user]
	name = Anson Huang
	email = ansonh@usafacts.org
[core]
	excludesfile = /Users/ansonh/.gitignore_global
	editor = /usr/bin/vim
	ignorecase = false
[push]
	autoSetupRemote = true
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
